<section class="user_info">
  <h1>
    <%= avatar(user) %>
    <%= user.name %>
  </h1>
  <%= link_to pluralize(user.friends.count, "friend"), friends_user_path(user) %>
</section>
<% if user == current_user %>
  <section class="post_form">
    <%= render 'shared/post_form' %>
  </section>
<% else %>
  <section class="friend_form">
    <%= render 'shared/friend_form', user: user %>
  </section>
<% end %>
<section class="friend_map">
  <% if user.friends.any? %>
    <div class="user_avatars">
      <h4><%= user.first_name %>'s Friends</h4>
      <% user.friends.each do |friend| %>
            <%= link_to avatar(friend, size: 40), friend %>
      <% end %>
    </div>
  <% end %>
</section>