<li id="post-<%= post.id %>">
  <%= link_to avatar(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="timestamp"><%= link_to post.created_at.strftime("%b %e at %l:%M %p"), post_path(post) %></span>
  <span class="text"><%= post.text %></span>
  <span class="options">
    <% if like = current_user.likes.find_by(post_id: post.id) %>
      <%= link_to "Unlike (#{post.likes.count})", like_path(like), method: :delete %>
    <% else %>
      <%= link_to "Like (#{post.likes.count})", likes_path(post_id: post.id),
                                                method: :post %>
    <% end %> | 
    <%= link_to "Comments", "#" %>
    <% if post.user == current_user %>
       | <a href="#" class="edit_link">Edit</a> | 
      <%= link_to "Delete", post_path(post), data: { confirm: "Are you sure you'd like to delete this post?" },
                            method: :delete %>
      <div class="edit_form">
        <%= render 'shared/edit_form', post: post %>
      </div>
    <% end %>
  </span>
</li>