<li id="post-<%= post.id %>">
  <%= link_to avatar(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="timestamp"><%= link_to post.created_at.strftime("%b %e at %l:%M %p"), post_path(post) %></span>
  <span class="text"><%= post.text %></span>
  <!-- Code for likes/comments -->
</li>